<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>    
        <property name="dialect" value="mysql" />
        <property name="databaseType" value="mysql"></property>
    </properties>

	<settings>
		<setting name="logImpl" value="LOG4J" />
		<setting name="logPrefix" value="dao."/>
	</settings>

	<typeAliases>
		<typeAlias alias="UserDTO" type="org.tang.myjob.dto.system.UserDTO"/>

		<!--message -->
		<typeAlias alias="MessageDTO" type="org.tang.myjob.dto.message.MessageDTO"/>

		<!-- product-->
		<typeAlias alias="ProductDTO" type="org.tang.myjob.dto.product.ProductDTO"/>
		<typeAlias alias="OrderDTO" type="org.tang.myjob.dto.product.OrderDTO"/>
		<typeAlias alias="Page" type="org.tang.myjob.utils.page.Page"/>
	</typeAliases>
	
	<!-- 配置数据库分页的实现 -->  
	<plugins>  
       <plugin interceptor="org.tang.myjob.utils.page.PageInterceptor"></plugin>
    </plugins>  
	<mappers>
		 <mapper resource="config/system/User.xml" />

		  <mapper resource="config/message/Message.xml" />

		 <mapper resource="config/product/Product.xml" />
		 <mapper resource="config/product/Order.xml" />
	</mappers>
</configuration>

