<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>    
        <property name="dialect" value="mysql" />
        <property name="databaseType" value="mysql"/>
    </properties>

	<settings>
		<setting name="logImpl" value="LOG4J" />
		<setting name="logPrefix" value="dao."/>

		<!-- 开启二级缓存-->
		<!--<setting name="cacheEnabled" value="true"/>-->
	</settings>

	<typeAliases>
		<!-- 正式开始-->
		<!-- business-->
		<typeAlias alias="UserDTO" type="org.tang.myjob.dto.system.UserDTO"/>
		<typeAlias alias="RoleDTO" type="org.tang.myjob.dto.system.RoleDTO"/>
		<typeAlias alias="PermissionDTO" type="org.tang.myjob.dto.system.PermissionDTO"/>

		<typeAlias alias="Page" type="org.tang.myjob.utils.Page"/>
	</typeAliases>
	
	<!-- 配置数据库分页的实现 -->
	<plugins>
		<plugin interceptor="org.tang.myjob.utils.PageInterceptor"></plugin>
	</plugins>

	<mappers>
		<!-- 正式开始-->
		<!-- business-->
		<mapper resource="org/tang/myjob/config/system/User.xml" />
		<mapper resource="org/tang/myjob/config/system/Role.xml" />
		<mapper resource="org/tang/myjob/config/system/Permission.xml" />
	</mappers>
</configuration>

